@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
margin: 0 auto;
  font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
background: #FFFFFF;
}
.container {
width: 960px;
margin: 0 auto;
}
.header {
background: #C889DB;
text-align: center;
margin: 0px;
padding: 5;
float: left;
width: 100%;
height: 80px;
}
.nav {
background: #D3A2DE;
margin: 0px;
padding: 5;
float: left;
width: 100%;
height: 60px;
text-align: center;
}
.content {
background: #EEEEEE;
margin: 0px;
float: left;
width: 100%;
text-align: center;
}
.footer {
background:#D3A2DE;
margin: 0px;
float: left;
width: 100%;
height: 50px;
text-align: center;
}

a:link {
     color: #291C2C;
}
a:visited {
     color: ##291C2C;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
